<p id="notice"><%= notice %></p>






<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<div class="card" style="width: 18rem;">
  <%= image_tag("Fishing.jpg", class: "img-responsive", id: "navbar-logo") %>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>





<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @frontpages.each do |frontpage| %>
      <tr>
        <td><%= link_to 'Show', frontpage %></td>
        <td><%= link_to 'Edit', edit_frontpage_path(frontpage) %></td>
        <td><%= link_to 'Destroy', frontpage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Frontpage', new_frontpage_path %>
